@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-stone-100 dark:bg-stone-800;
  @apply text-stone-800 dark:text-stone-100;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
