@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-stone-100 dark:bg-stone-800;
  @apply text-stone-800 dark:text-stone-100;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.pretty-button {
    @apply hover:ring-2 hover:ring-stone-400 dark:hover:ring-stone-600 focus:outline-0 active:bg-stone-300 dark:active:bg-stone-900 select-none;
}
